@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
 font-family: Roboto, sans-serif;   
}
a{
    text-decoration: none;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*Header*/
.header{
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    gap: 60px;    
}

.left{
    font-size: 24px;
    font-weight: 700;
    flex-shrink: 0;
    padding-left: 20px;
}

.right{
    display: flex;
    padding-right: 20px;
    gap: 16px;    
}

.right a{
    font-size: 18px;
    color: #E5E7EB
}
/*/Header*/



/*MAIN-CONtENT*/
.main{
    flex: 1;
    display: flex;
    background-color: #1F2937;  
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.hero-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    
}
.subtext{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    flex: 1;
    flex-wrap: wrap;
    
}
button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 24px;
    flex: 1;
    flex-wrap: wrap;

}

.hero-img{
    color: #E5E7EB;
    width: 500px;
    height: auto;
}

img{

    border-radius: 16px; 
}

.main-text{
    display: flex;
    padding-left: 36px;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    
    
}

.image{
    padding-right: 36px;
}

/*/MAIN-CONtENT*/

/*INFORMATION-SECTION*/

.information-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-direction: column;
    padding: 20px 0px;
    
}

#title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.information{
    
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
    gap: 50px
    
    

}

figure{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
}



figcaption{
    flex: 1;
    max-width: 220px;
}

#image{
    width : 220px;
    height: 220px;
    object-fit: cover;
    border: solid 4px #1F2937;
}


#img-caption{
    
    text-align: center;
}

/*/INFORMATION-SECTION*/